$black: #000000;
$white: #ffffff;
$footer-padding-horizontal:30px;//水平方向
$footer-menu-item-spacing: 20px;//メニューの間隔
$footer-padding-vertical: 20px;//垂直方向
$submenu-padding-left: 20px;//サブメニューだとわかる用の余白
$row-gap-footer-sub:20px;
$column-gap-footer-menu: 100px;



.footer {
    padding-top:$footer-padding-vertical;
    padding-right:$footer-padding-vertical;
    margin-left: auto;
    margin-right: auto;
    padding: $footer-padding-vertical 0;
    background-color: $black;

    .footer.open{
        display: none;
        .footer > *{
            display: none;
        }
    }
}

.footer__border-top-black {
    border-top: 1px solid $black;
    
}

.footer__inner {
    @media(min-width: 1230px){
        max-width: 1230px;

    }
    @media(max-width: 1229px) and (min-width:769px){
        max-width: 100%;

    }
    @media(max-width: 768px){
        max-width: 100%;

    }
    margin: 0 auto;

}

.footer__menu{
    justify-content: space-between;
}

.footer__menu-item {
    display: flex;
    flex-wrap: wrap;//要素が多い場合に折り返してくれる
    overflow: hidden;
    @media(max-width: 768px){
        column-gap: $column-gap-footer-menu;
        margin: auto;
    }
    @media(min-width:769px){
        justify-content: space-between;
    }
    color: $white;
}
.footer__menu-item > :last-child{
    margin-right: 0;
}
.menu__item{
    a{
        font-size:1.5em;
        font-family: "akhand", sans-serif;
        font-weight: 700;
        font-style: normal;
        margin-bottom: $footer-padding-vertical;
        text-decoration: none;
        color: $white;
        @media(max-width: 768px){
            flex: 1 1 30%; 
        }
    }
}
.footer__submenu{

    a{
        font-size:1em;
        margin: 2px 0;
        line-height: 1.5em;

        // ::before{
        //     content:'・';
        //     padding-left: 1em;
        // }
        //ぽちょを入れる場合はコメント外せばオッケー
    }
    h4{
        font-size:1em;
        margin: 2px 0;
        line-height: 1.5em;
    }

}

.footer__copyright {
    color: $white;

    @media(max-width:768px){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        row-gap: $row-gap-footer-sub;
    }

    @media(min-width:768px){
    display: flex;
    justify-content: space-between;  //水平方向の中央揃え 
    margin-right: auto;
    }
    a{
        text-decoration: none;
        color: $white;
    }
    a:hover{
        text-decoration: underline;
    }
}