$black: #000000;
$white: #ffffff;

$padding-def: 15px;
$margin-def: 20px;
$hamburger-space: 6px;
$padding-ham: 5px;
$header-opacity: 80%;
$header__z-index: 5;
$ham-translate: 15px;
$width-difference: 20px;
$ham-side: 70px;
$ham-position: 30px;
$logo-size-height: 93px;
$logo-size-width: 64px;
$menu-large: 4em;
$menu-mini: 2em;
$margin-top: 100px;

*, *::before, *::after {
    box-sizing: border-box;
}

.l__header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    text-align: center; /* 子要素を中央揃えにする */

    @media(min-width: 1230px){
        width: 100%;
    }
    @media(max-width: 1229px){
        width: 100%;
    }
    &.open{
    
        @media(min-width: 1230px){
            width: 100%;
            padding: 0;
        }
        @media(max-width: 1229px){
            width: 100%;
            padding: 0;
        }
    }   
}
.header__inner{
    width: 100%;
    box-sizing: border-box;
    display: block;
    @media (min-width: 1230px) {
        padding: $padding-def*2;
    }
    @media(max-width: 1229px){
        width: 100%;
        padding: $padding-def;
    }

    a{
        display: block;
        height: $logo-size-height;
        width: $logo-size-width;
        .header__logo{
            height: 100%;
            width: 100%;
            display: block;

            &.open{
                @media(min-width: 1230px){
                    top: $padding-def*2;
                    left: $padding-def*2;
                }
                @media(max-width: 1229px){
                    top: $padding-def;
                    left: $padding-def;
                }  
            }
        }
    }
    &.open{
        background-color: $black;
    }
}
.header__menu{
    display: none;

    &.open{
            display: block;
            
            position: fixed;
            z-index: 100;
            background-color: $black;

            width: 100vw;// view-width
            height: 100vh;// view-height
            top: 100px;//いじっていたらメニューが上に上がってロゴが隠れちゃうようになったのでつけた
            left: 0;
            margin: 0;
            padding: $padding-def;
    
            @media (min-width: 1230px) {
                top: 130px;
                padding-left: $padding-def*2;
                padding-right: $padding-def*2;
            }
            @media(max-width: 1229px){
                width: 100%;
                padding-left: $padding-def;
                padding-right: $padding-def;
            }
            ul{
                width: 100%;
                display:flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                
            }

            a{
                width: 100%;
                color: $white;
                font-family: "akhand", sans-serif;
                font-weight: 700;
                font-style: normal;
                text-decoration: none;


                @media (min-width: 1230px) {
                    margin-bottom: $margin-def;
                    font-size: $menu-large;

                }
                @media(max-width: 1229px){
                    margin-bottom: calc(($margin-def)/2);
                    font-size: $menu-mini;

                }
            }
            
        }
    }


.l__header__hamburger{
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 15px 1%;
        height: $ham-side;
        width: $ham-side;
        position: fixed;
        top: $ham-position;
        right: $ham-position;
        z-index: 100;

        border: 1px solid $black;
        background-color: $white;

        &.open{
            background-color: $black;
            .l__header__hamburger__1{
                transform:translateY($ham-translate) rotate(315deg);
                transition: transform 1.0s ease-in-out;
                background-color: $white;
            }
            .l__header__hamburger__2{
                opacity: 0;
                transition: display 1.0s ease-in-out;
            }
            .l__header__hamburger__3{
                transform:translateY(-($ham-translate)) rotate(-315deg);
                transition: transform 1.0s ease-in-out;
                background-color: $white;
            }
        }
        &.close{
            
            .l__header__hamburger__1{
                transform: translateY(0) rotate(0);
                transition: transform 1.0s ease-in-out;
                background-color: $black;
            }
            .l__header__hamburger__2{
                
                transition: opacity 1s, display 1s allow-discrete;
            }
            .l__header__hamburger__3{
                transform: translateY(0) rotate(0);
                transition: transform 1.0s ease-in-out;
                background-color: $black;
            }
        }

}
.l__header__hamburger span{
        display: block;
        height: 2px;
        width: 90%;
        background-color: $black;
        border-radius: 3px;
}
.l__header__hamburger__1{
        margin-bottom: $hamburger-space;
        
}
.l__header__hamburger__2{
        margin-bottom: $hamburger-space;
        
}

