$black: #000000;
$white: #ffffff;
$about-padding-horizontal:30px;
$about-padding-vertical:20px;
$content-content-h2-size: 4em;
$content-mv-size:3em;
$content-value-size:2em;
$content-text-size: 18px;
$margin-content-text: 100px;
$font-weight__text: 700px;

.main{
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.about__mv{
    max-width: 100%;
    text-align: center;
    margin: $margin-content-text 0 $margin-content-text 0;

    h1{
        font-size: $content-mv-size;
        font-weight: bold;
        padding: $about-padding-horizontal $about-padding-vertical;
    }
}
.about-mission__contents{
    background-color: $white;
    text-align: center;
    padding: $about-padding-horizontal $about-padding-vertical;
    padding: 0 20% 0 20%;

    h2{
         font-size: $content-content-h2-size;
         font-weight: bold;
         margin: $margin-content-text 0 $margin-content-text 0;
    }
    p{
        
        font-size: $content-text-size;
        font-weight:$font-weight__text;
        margin: $margin-content-text 0 $margin-content-text 0;
    }
}
.about-vision{
    background-color: $black;
    padding: $about-padding-vertical 0 $about-padding-vertical 0;
   
}
.about-vision__mv{
    color: $white;
}
.about-vision__content{
    
    text-align: center;
    padding: $about-padding-horizontal $about-padding-vertical;
    padding: 0 20% 0 20%;

    h2{
        font-size: $content-content-h2-size;
         font-weight: bold;
         margin: $margin-content-text 0 $margin-content-text 0;
         color: $white;
    }
    p{
        font-size: $content-text-size;
        font-weight:$font-weight__text;
        margin: $margin-content-text 0 $margin-content-text 0;
        color: $white;
    }
}
.about-value__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: $margin-content-text;

    .about-value__content__item{
        
        text-align: center;
        width: 840px;
        padding: $about-padding-vertical $about-padding-horizontal;
    }
    .about-value__content__title{
        
        font-size: $content-mv-size;
        font-weight: bold;
        text-align: center;
        margin-bottom: $margin-content-text;
    }
    .about-value__content__text{
        font-size: $content-text-size;
        text-align: center;
        padding-left: $content-text-size;
    }
}

