$black: #000000;
$white: #ffffff;
$p__news-padding-vertical: 30px;
$p__news-padding-horizontal: 30px;
$p__news-title-size: 3em;
$p__news-subtitle-size: 2em;
$p__news-text-size: 1em;
$p__news-content-space: 30px;

.p__news-title{
    width: 100%;
    margin: $p__news-content-space;
    text-align: center;
    
    h1{
        font-size: $p__news-title-size;
        font-weight: bold;
    }
}