$black: #000000;
$white: #ffffff;
$dark-gray: #a9a9a9;
$mv-size: 6em;
$mv-size-mini: 3em;
$item-title-size: 2em;
$item-title-size-mini: 1.5em;
$item-subtitle-size: 1.5em;
$item-content-size: 1em;
$margin-horizontal: 6em;
$margin-vertical: 130px;
$padding-def: 15px;
$margin-def: 60px;


.p__policy__mv{
    margin-top: $margin-vertical ;
    margin-right:auto;
    margin-left: auto;
    padding: $padding-def*2 $padding-def*10;
    h1 {
        font-size: $mv-size;
        font-weight: bold;
        max-width: 100%;
        .p__policy-br{
            display: none;
        }
    }
    @media(max-width: 768px){
        padding: $padding-def;
        h1{
            font-size: $mv-size-mini;
        }
    }
}
.p__policy__mv-sub{
    
    // span{
    //     display: inline-block;
    //     border-bottom: 2px solid $black;
    //     width: $sub-underline;

    //     animation: appear .5s ease-out forwards;
    //     @keyframes appear {
    //         from { width: 0px; }
    //         to { width: $sub-underline; }
    //     }
    // }
    h2{
        font-size: $mv-size-mini; 
        @media(max-width: 768px){
            font-size: $item-title-size;
        }
    }
}
.p__policy__area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: middle;

    @media(min-width: 1230px){
        padding-right: $padding-def*10;
        padding-left: $padding-def*10;
    }
    @media(min-width: 769px) and (max-width: 1229px){
        padding-right: $padding-def*2;
        padding-left: $padding-def*2;
    }
    @media(max-width: 768px){
        padding-right: $padding-def;
        padding-left: $padding-def;
    }
    margin-bottom: $margin-def;

}
.p__policy__prologue{
    font-size: $item-content-size;
    line-height: 1.75em;
    margin-bottom: $padding-def;
}
.p__policy__list{

    text-align: left;

    padding: 0 15px;
    h1{
        font-weight: bold;
        font-size: $item-title-size;
        @media(max-width: 768px){
            font-size: $item-title-size-mini;
        }
    }

}
.p__policy__list p, 
.p__policy__list-son p, 
.p__policy__list-gson p{
    margin-bottom: $margin-def;
    font-size: $item-content-size;
}
.p__policy__list-son{
    counter-reset: list-son;
}
.p__policy__list-son-item{
    position: relative;
    padding-left: 2em;
    
}
.p__policy__list-son-item::before{
    content:counter(list-son)'.';
    position: absolute;
    top:0;
    left:0;
    color: $black;
    counter-increment: list-son;
}
.p__policy__list-gson{
    counter-reset: list-gson;
}
.p__policy__list-gson-item{
    position: relative;
    padding-left: 2em;
    
}
.p__policy__list-gson-item::before{
    
    content:'('counter(list-gson)'）';
    position: absolute;
    top:0;
    left:0;
    color: $black;
    counter-increment: list-gson;
}
.p__policy__list-ggson{
    counter-reset: list-ggson;
}
.p__policy__list-ggson-item{
    position: relative;
    padding-left: 2.5em;
    
}
.p__policy__list-ggson-item::before{
    
    content:'<'counter(list-ggson)'>';
    position: absolute;
    top:0;
    left:0;
    color: $black;
    counter-increment: list-ggson;
}