$black: #000000;
$white: #ffffff;
$top-padding-horizontal:30px;
$top-padding-vertical:20px;
$content-about-size: 6em;
$content-title-size:3em;
$content-catchcopy-size: 2em;
$content-text-size: 1em;
$margin-content-text: 30px;
$line-height: 1.75;

/* 全ての要素と疑似要素に box-sizing: border-box を適用 */
@media(max-width: 768px){
    *,
    *::before,
    *::after {
        box-sizing: border-box;
}
}



.main{
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

#top__content-about{
    margin: 300px 10%;
}

.top__content-about-mv {
    background-color: $black;
    padding: $top-padding-horizontal;
    display: flex;
    justify-content: center;
    max-width: 100%;

    @media (min-width: 769px) {
        h1 {
            color: $white;
            font-size: $content-about-size;
            max-width: 100%;
        }
    }

    @media (max-width: 768px) {
        h1 {
            color: $white;
            font-size: $content-title-size;
            max-width: 100%;
        }
    }
}

.top__content-about-mv-sub {
    background-color: $white;
    padding: $top-padding-horizontal;
    display: flex;
    justify-content: center;
    max-width: 100%;

    @media (min-width: 769px) {
        h1 {
            color: $black;
            font-size: $content-about-size;
        }
    }

    @media (max-width: 768px) {
        h1 {
            color: $black;
            font-size: $content-title-size;
        }
    }
}

.top__content-title{
    display: flex;
    justify-content: center;
    padding: $top-padding-vertical*2 $top-padding-horizontal*2;

    h1{
        font-size: $content-title-size;//個別にh1などをネストして書くことができる
    }
}
.top__content-company-detail, .top__content-service-detail {
    display: flex;
    justify-content: space-between;
    line-height:$line-height;

}
.top__content-company-image, .top__content-service-image {
    width: 50%;
    align-items: center;
    padding: $top-padding-vertical $top-padding-horizontal;
}
.top__content-company-text, .top__content-service-text{
    width: 50%;
    text-align: center;
    padding: $top-padding-vertical $top-padding-horizontal;
    line-height:$line-height;

    h1{
        font-size: $content-catchcopy-size;
        margin-bottom: $margin-content-text;
    }
    p{
        font-size: $content-text-size;
        margin-bottom: $margin-content-text;
        text-align: left;
    }
}
.top__content-news-detail{
    max-width: 100%;
    text-align: center;

    ul{
        font-size: $content-text-size;
        margin-bottom: $margin-content-text;
    }
}

