$black: #000000;
$white: #ffffff;

.header{
    padding-top: 20px;
    border-bottom: 1px solid $white; 
}
.header__inner{
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center; /* アイテムを垂直方向の中央に配置 */
    justify-content: space-between; /* アイテムを左右に均等に配置 */
}
.header__logo{
    padding-left: 15px;
    padding-right: 15px;
    height: 100px; 
    width: auto; 
    margin-left: 0;
    
}
.header__menu ul {
    display: flex;
    list-style: none; /* リストのマーカー（点）を消す */
}

.header__menu  {
    color: black; /* テキストの色を黒に */
    margin-right: 20px; /* 項目間のスペース */
    text-decoration: none;
}

.header__menu li:last-child {
    margin-right: 0; /* 最後の項目の右マージンをなくす */
}
.header__menu li a:hover{
    text-decoration: underline;
}