$black: #000000;
$white: #ffffff;
$light-gray: #d3d3d3;
$border-bottom-standerd: 2px;
$margin-vertical-standerd: 20px;
$width:1200px;

.c__line-horizontal{
    display: block;
    width: 100%;
    border-bottom: $border-bottom-standerd solid $light-gray;
    margin: $margin-vertical-standerd auto;
}
.c__borderline__terms{
    display: block;
    width: $width;
    max-width: 100%;
    border-bottom: $border-bottom-standerd solid $black;
    margin: $margin-vertical-standerd auto;
}