$black: #000000;
$white: #ffffff;
$dark-gray: #a9a9a9;
$component-title-size: 3em;
$component-text-size: 1em;
$form-margin-bottom: 30px;
$padding-horizontal:15px;
$padding-vertical: 15px;

.component__contact__form{

    margin-bottom: $form-margin-bottom;
    padding: $padding-vertical $padding-horizontal;

    h1{
        font-size: $component-title-size;
        text-align: center;
        margin-bottom: $form-margin-bottom;
    }
    label {
        font-size: $component-text-size;
        text-align: left;
        margin-bottom: $form-margin-bottom/2;

    }
    input{
        text-align: left;
       
    }
    input#name,input#email,input#tel,input#com-name{
        
        width: 100%;
        height: $component-title-size;
        margin-bottom: $form-margin-bottom;
        
    }
    textarea{
        width: 100%;
        height: $component-title-size*3;
        margin-bottom: $form-margin-bottom;
        
    }
    a{
        text-decoration: none;
        color: $black;
    }
    a:hover{
        text-decoration: underline;
        color: $dark-gray;
    }
}