$black: #000000;
$white: #ffffff;
$padding-horizontal:30px;
$padding-vertical:20px;
$readmore-text-size :1em;
$policy-text-size: 3em;
$width-btn-readmore: 200px;
$width-btn-policy: 640px;
$transition-btn: .25s;
$margin-btn-policy: 60px;

.component__btn-readmore{
    display: inline-block;
    width: $width-btn-readmore;
    max-width: 100%;//画面の横幅が＄width-btn以下になった時に画面外にボタンがはみ出るのを防ぐ
    padding: $padding-vertical $padding-horizontal;
    background-color: $black;
    border: 2px solid transparent;
    color: $white;
    font-size: $readmore-text-size;
    text-align: center;
    text-decoration: none;
    transition: $transition-btn;
    //以下は矢印のためのスタイリング
    position:relative;
    padding-right: $readmore-text-size;
    padding-left: $readmore-text-size;

    &:hover{ //同じ要素について疑似要素を実装するときにはネストする際＆が必須！
        background-color: $white;
        border-color: currentColor;
        
        color: $black;
    }
    &::after{
        content:'\f061';//右矢印の番号
        position: absolute;
        padding: $padding-vertical $padding-horizontal;
        top: 50%;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        transform: translateY(-50%);
    }
}
.c__btn-policy{
    display: inline-block;
    width: $width-btn-policy;
    max-width: 100%;//画面の横幅が＄width-btn以下になった時に画面外にボタンがはみ出るのを防ぐ
    padding: $padding-vertical $padding-horizontal;
    margin-bottom: $margin-btn-policy ;
    background-color: $black;
    border: 2px solid transparent;
    color: $white;
    font-size: $policy-text-size;
    text-align: center;
    text-decoration: none;
    transition: $transition-btn;
    //以下は矢印のためのスタイリング
    position:relative;
    padding-left: $readmore-text-size;
    padding-right: $readmore-text-size;
    margin-right: $policy-text-size;
    margin-left: $policy-text-size;

    &:hover{ //同じ要素について疑似要素を実装するときにはネストする際＆が必須！
        background-color: $white;
        border-color: currentColor;
        
        color: $black;
    }
    &::after{
        content:'\f061';//右矢印の番号
        position: absolute;
        padding: $padding-vertical $padding-horizontal;
        top: 50%;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        transform: translateY(-50%);
    }

}