$black: #000000;
$white: #ffffff;
$padding-horizontal:30px;
$padding-vertical:20px;
$readmore-text-size :1em;
$policy-text-size: 3em;
$policy-text-size-mini: 1.5em;
$send-text-size: 1.5em;
$width-btn-readmore: 200px;
$width-btn-send: 300px;
$width-btn-policy: 640px;
$width-btn-policy-mini: 320px;
$transition-btn: .25s;
$margin-btn-policy: 60px;
$padding-def: 15px;

.component__btn-readmore{
    display: inline-block;
    width: $width-btn-readmore;
    max-width: 100%;//画面の横幅が＄width-btn以下になった時に画面外にボタンがはみ出るのを防ぐ
    padding: $padding-vertical $padding-horizontal;
    background-color: $black;
    border: 2px solid transparent;
    color: $white;
    font-size: $readmore-text-size;
    text-align: center;
    text-decoration: none;
    transition: $transition-btn;
    //以下は矢印のためのスタイリング
    position:relative;
    padding-right: $readmore-text-size;
    padding-left: $readmore-text-size;

    &:hover{ //同じ要素について疑似要素を実装するときにはネストする際＆が必須！
        background-color: $white;
        border-color: currentColor;
        
        color: $black;
    }
    &::after{
        content:'\f061';//右矢印の番号
        position: absolute;
        padding: $padding-vertical $padding-horizontal;
        @media (max-width: 1229px) {
            padding: 0 0 0 10px; /* 順番は 上 右 下 左 */
        }
        top: 50%;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        transform: translateY(-50%);
    }
}

.c__btn-policy{
    display: inline-block;
    @media(min-width: 1230px){
        width: $width-btn-policy;
        padding: $padding-vertical $padding-horizontal;
        font-size: $policy-text-size;
    }
    @media(max-width: 1229px) and (min-width:769px){
        width: $width-btn-policy-mini;
        font-size: $policy-text-size-mini;
    }
    @media(max-width: 768px){
        width: $width-btn-policy-mini;
        font-size: $policy-text-size-mini;
        padding:$padding-def; 

    }
    width: $width-btn-policy;
    max-width: 100%;//画面の横幅が＄width-btn以下になった時に画面外にボタンがはみ出るのを防ぐ
    
    margin-bottom: $margin-btn-policy ;
    background-color: $black;
    border: 2px solid transparent;
    color: $white;
    
    vertical-align: middle;
    text-decoration: none;
    transition: $transition-btn;
    //以下は矢印のためのスタイリング
    // position:relative;


    &:hover{ //同じ要素について疑似要素を実装するときにはネストする際＆が必須！
        background-color: $white;
        border-color: currentColor;
        
        color: $black;
    }
    // &::after{
    //     content:'\f061';//右矢印の番号
    //     position: absolute;
    //     padding: $padding-vertical $padding-horizontal;
    //     top: 50%;
    //     font-family: "Font Awesome 5 Free";
    //     font-weight: 900;
    //     transform: translateY(-50%);
    // }

}
.c__form__submit{

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    display: inline-block;
    @media(min-width: 1230px){
        width:$width-btn-send;
        font-size: $send-text-size;
    }
    @media(min-width: 769px) and (max-width: 1229px){
        width:$width-btn-send;
    }
    @media(max-width: 768px){
        width:$width-btn-send;
    }
    
    max-width: 100%;//画面の横幅が＄width-btn以下になった時に画面外にボタンがはみ出るのを防ぐ
    padding: $padding-vertical $padding-horizontal;
    margin-bottom: $margin-btn-policy ;
    background-color: $black;
    border: 2px solid transparent;
    color: $white;
    input{
        text-align: center;
    }
    
    transition: $transition-btn;
    
    &:hover{ //同じ要素について疑似要素を実装するときにはネストする際＆が必須！
        background-color: $white;
        border-color: currentColor;
        color: $black;
    }

}
span.wpcf7-spinner {
    display: none;
}